<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recipe">
	
	<sql id="whereRecipeList">
		<if test="searchValue != null and searchValue != '' ">
			<if test="searchType != null and searchType != '' ">
			<choose>
				<when test="searchType.equals('searchName')">
				AND PRODUCT_NAME LIKE CONCAT('%',#{searchValue},'%')
				</when>
	      		<when test="searchType.equals('searchProductCode')">
	      		AND PRODUCT_CODE LIKE CONCAT('%',#{searchValue},'%')
	      		</when>
	      	</choose>
			</if>			
		</if>
		<if test="searchStatus != null and searchStatus != '' ">
			AND STATUS = #{searchStatus}
		</if>
		<if test="searchPlant != null and searchPlant != '' ">
			AND PLANT = #{searchPlant}
		</if>
	</sql>
	
	<select id="selectRecipeCount" parameterType="map" resultType="int">
		/* recipe.selectRecipeCount */
		SELECT 
			count(RECIPE_IDX) as cnt
		FROM lab_recipe
		WHERE 1 = 1
			AND DOC_OWNER = #{userId}
			AND IS_DELETE = 'N'
			AND IS_LAST = 'Y'
			<include refid="recipe.whereRecipeList" />
	</select>
	
	<select id="selectRecipeList" parameterType="map" resultType="hashmap">
		/* recipe.selectRecipeList */
		SELECT 
			lr.*
			, FN_GET_CODE_NAME('PLANT	', lr.PLANT) AS PLANT_TXT
			, FN_GET_CODE_NAME('DOC_STATUS', lr.STATUS) AS STATUS_TXT
			, (SELECT COUNT(*) FROM lab_recipe WHERE 1 = 1 AND PRODUCT_CODE = lr.PRODUCT_CODE AND IS_LAST = 'N' AND VERSION_NO <![CDATA[<]]> lr.VERSION_NO AND IS_DELETE = 'N' ) as CHILD_CNT
			, FN_GET_CODE_NAME('UNIT', lr.PRODUCT_UNIT) AS UNIT_NAME
			, FN_GET_USER_NAME(lr.DOC_OWNER) as USER_NAME 
		FROM 
			lab_recipe lr
		WHERE 1 = 1
			AND DOC_NO in (
				SELECT 
					tmp.DOC_NO
				FROM (
					SELECT
						row_number() over (order by  RECIPE_IDX DESC) as rnum
						, DOC_NO
					FROM lab_recipe
					WHERE 1 = 1
						AND DOC_OWNER = #{userId}
						AND IS_DELETE = 'N'
						AND IS_LAST = 'Y'
						<include refid="recipe.whereRecipeList" />
				) tmp
				WHERE rnum between #{startRow} AND #{endRow}
			)
		ORDER BY DOC_NO DESC, VERSION_NO DESC, RECIPE_IDX DESC
	</select>
	
	<select id="selectRecipeSeq" resultType="int">
		/* recipe.selectRecipeSeq */
		SELECT FN_NEXTVAL('recipe_seq') as seq
	</select>
	
	<insert id="insertRecipe" parameterType="map">
		/* recipe.selectRecipeSeq */
		INSERT INTO lab_recipe(
			RECIPE_IDX
			, DOC_NO
			, VERSION_NO
			, PRODUCT_CODE
			, PRODUCT_NAME
			<if test="plant != null and plant != '' ">
			, PLANT
			</if>
			<if test="productCount != null and productCount != '' ">
			, PRODUCT_COUNT
			</if>
			<if test="unit != null and unit != '' ">
			, PRODUCT_UNIT
			</if>
			, IS_DELETE
			, IS_LAST
			, REG_USER
			, DOC_OWNER
			, STATUS
		)VALUES(
			#{idx}
			, (SELECT ifnull(MAX(lr.DOC_NO),0)+1 FROM lab_recipe lr WHERE 1 = 1)
			<choose>
				<when test="productCode != null and productCode !='' ">
				, (SELECT ifnull(MAX(lr.VERSION_NO),0)+1 FROM lab_recipe lr WHERE 1 = 1 AND PRODUCT_CODE = #{productCode})	
				</when>
				<otherwise>
				, 1
				</otherwise>
			</choose>
			, #{productCode}
			, #{productName}
			<if test="plant != null and plant != '' ">
			, #{plant}
			</if>
			<if test="productCount != null and productCount != '' ">
			, #{productCount}
			</if>
			<if test="unit != null and unit != '' ">
			, #{unit}
			</if>
			, 'N'
			, 'Y'
			, #{userId}
			, #{userId}
			, #{status}
		)		
	</insert>
	
	<insert id="insertRecipeMaterial" parameterType="list">
		/* recipe.insertRecipeMaterial */
		INSERT
		INTO lab_recipe_material(
			RECIPE_IDX
			, SAP_CODE
			, ITEM_NAME
			, ITEM_NO
			, ITEM_COUNT
			, ITEM_UNIT
			, USED_COUNT
			, USED_UNIT
		)values
		<foreach collection="list" item="item" separator=",">
		( #{item.idx}, #{item.sapCode}, #{item.productName}, #{item.no}, #{item.compCount}, #{item.compUnit}, #{item.useCount}, #{item.useUnit} )
		</foreach>
	</insert>
	
	<insert id="insertRecipePurchase" parameterType="list">
		/* recipe.insertRecipePurchase */
		INSERT
		INTO lab_recipe_purchase(
			RECIPE_IDX
			, PURCHASE_NO
			, ITEM_NAME
			, ITEM_COUNT
			, ITEM_UNIT
			, USED_COUNT
			, USED_UNIT
			, ITEM_PRICE
			, ITEM_DESC
		)values
		<foreach collection="list" item="item" separator=",">
		( #{item.idx}, #{item.no}, #{item.name}, #{item.compCount}, #{item.compUnit}, #{item.useCount}, #{item.useUnit}, #{item.price}, #{item.desc} )
		</foreach>
	</insert>
	
	<select id="selectMyDataCount" parameterType="map" resultType="int">
		/* recipe.selectMyDataCount */
		SELECT
			COUNT(RECIPE_IDX) AS cnt
		FROM 
			lab_recipe
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
			AND DOC_OWNER = #{userId}
			AND IS_DELETE = 'N'
			<if test="type != null and type != '' ">
			AND STATUS IN ('COMP', 'BOM_ERROR')
			</if>
	</select>
	
	<select id="selectRecipeData" parameterType="map" resultType="hashmap">
		/* recipe.selectRecipeData */
		SELECT
			RECIPE_IDX
			, PRODUCT_CODE
			, PRODUCT_NAME
			, PLANT
			, FN_GET_CODE_NAME('PLANT', PLANT) AS PLANT_NAME
			, PRODUCT_COUNT
			, PRODUCT_UNIT
			, FN_GET_CODE_NAME('UNIT', PRODUCT_UNIT) AS UNIT_NAME
			, DOC_NO
			, VERSION_NO
			, IS_DELETE
			, IS_LAST
			, REG_USER
			, DOC_OWNER
			, STATUS
		FROM
			lab_recipe
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
	</select>
	
	<select id="selectMaterialList" parameterType="map" resultType="hashmap">
		/* recipe.selectMaterialList */
		SELECT
			RECIPE_IDX
			, SAP_CODE
			, ITEM_NAME
			, ITEM_NO
			, ITEM_COUNT
			, ITEM_UNIT
			, FN_GET_CODE_NAME('UNIT', ITEM_UNIT) AS ITEM_UNIT_NAME
			, USED_COUNT
			, USED_UNIT
			, FN_GET_CODE_NAME('UNIT', USED_UNIT) AS USED_UNIT_NAME
		FROM
			lab_recipe_material
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}	
		ORDER BY ITEM_NO ASC	
	</select>
	
	<select id="selectPurchaseList" parameterType="map" resultType="hashmap">
		/* recipe.selectPurchaseList */
		SELECT
			RECIPE_IDX
			, ITEM_NAME
			, ITEM_COUNT
			, ITEM_UNIT
			, FN_GET_CODE_NAME('UNIT', ITEM_UNIT) AS ITEM_UNIT_NAME
			, USED_COUNT
			, USED_UNIT
			, FN_GET_CODE_NAME('UNIT', USED_UNIT) AS USED_UNIT_NAME
			, PURCHASE_NO
			, ITEM_PRICE
			, ITEM_DESC
		FROM
			lab_recipe_purchase
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
		ORDER BY PURCHASE_NO ASC			
	</select>
	
	<update id="updateRecipe" parameterType="map">
		/* recipe.updateRecipe */
		UPDATE 
			lab_recipe
		SET
			STATUS = #{status}
			<if test="plant != null and plant != '' ">
			, PLANT = #{plant}
			</if>
			<if test="plant != null and plant != '' ">
			, PRODUCT_COUNT = #{productCount}
			</if>
			<if test="plant != null and plant != '' ">
			, PRODUCT_UNIT = #{unit}
			</if>
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
			AND DOC_NO = #{docNo}
	</update>
	
	<delete id="deleteRecipeMaterial" parameterType="map">
		/* recipe.deleteRecipeMaterial */
		DELETE
		FROM lab_recipe_material
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
	</delete>
	
	<delete id="deleteRecipePurchase" parameterType="map">
		/* recipe.deleteRecipePurchase */
		DELETE
		FROM lab_recipe_purchase
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
	</delete>
	
	<insert id="insertVersionUpRecipe" parameterType="map">
		/* recipe.insertVersionUpRecipe */
		INSERT INTO lab_recipe(
			RECIPE_IDX
			, DOC_NO
			, VERSION_NO
			, PRODUCT_CODE
			, PRODUCT_NAME
			<if test="plant != null and plant != '' ">
			, PLANT
			</if>
			<if test="productCount != null and productCount != '' ">
			, PRODUCT_COUNT
			</if>
			<if test="unit != null and unit != '' ">
			, PRODUCT_UNIT
			</if>
			, IS_DELETE
			, IS_LAST
			, REG_USER
			, DOC_OWNER
			, STATUS
		)VALUES(
			#{idx}
			, #{docNo}
			, #{versionNo}+1
			, #{productCode}
			, #{productName}
			<if test="plant != null and plant != '' ">
			, #{plant}
			</if>
			<if test="productCount != null and productCount != '' ">
			, #{productCount}
			</if>
			<if test="unit != null and unit != '' ">
			, #{unit}
			</if>
			, 'N'
			, 'Y'
			, #{userId}
			, #{userId}
			, #{status}
		)
	</insert>
	
	<update id="updateRecipeIsLast" parameterType="map">
		/* recipe.updateRecipeIsLast */
		UPDATE 
			lab_recipe
		SET
			IS_LAST = 'N'
		WHERE 1 = 1
			AND RECIPE_IDX = #{currentIdx}
			AND DOC_NO = #{docNo}
	</update>
	
	<select id="selectHistory" parameterType="map" resultType="hashmap">
		/* recipe.selectHistory */
		SELECT 
			lh.DOC_IDX
			, lh.HISTORY_TYPE
			, CASE WHEN lh.HISTORY_TYPE  = 'I' then '등록'
				WHEN lh.HISTORY_TYPE  = 'V' then '개정'
				WHEN lh.HISTORY_TYPE  = 'D' then '삭제'
				WHEN lh.HISTORY_TYPE  = 'U' then '수정'
				WHEN lh.HISTORY_TYPE  = 'T' then '임시저장'
				END HISTORY_TYPE_TXT 
			, lr.VERSION_NO
			, lr.PRODUCT_NAME 
			, lr.PRODUCT_CODE 
			, lh.USER_ID 
			, FN_GET_USER_NAME(lh.USER_ID) as USER_NAME
			, DATE_FORMAT(lh.REG_DATE, '%Y-%m-%d %H:%i:%s') as REG_DATE
		FROM lab_history lh ,
			lab_recipe lr 
		WHERE 1 = 1
			AND lh.DOC_IDX IN (SELECT RECIPE_IDX FROM lab_recipe WHERE 1 = 1 AND DOC_NO = #{docNo})
			AND lh.DOC_TYPE = #{docType}
			AND lh.DOC_IDX = lr.RECIPE_IDX 
		ORDER BY lh.REG_DATE ASC
	</select>
	
	<update id="updateStatus" parameterType="map">
		/* recipe.updateStatus */
		UPDATE 
			lab_recipe
		SET
			STATUS = #{status}
			, RESULT_MESSAGE = #{message} 
		WHERE 1 = 1
			AND RECIPE_IDX = #{idx}
	</update>
	
	<sql id="whereRecipeErpMaterialList">
		<choose>
			<when test = "searchType != null and searchType != ''">
				<if test="searchType == 'searchName' ">
				AND NAME LIKE CONCAT('%',#{searchValue},'%')
				</if>
				<if test="searchType == 'searchSapCode' ">
				AND SAP_CODE LIKE CONCAT('%',#{searchValue},'%')
				</if>
			</when>
			<otherwise>
				<if test="searchValue != null and searchValue != '' ">
				AND ( SAP_CODE LIKE CONCAT('%',#{searchValue},'%') OR NAME LIKE CONCAT('%',#{searchValue},'%') )
				</if>
			</otherwise>
		</choose>
		<choose>
			<when test= "isNla2 != null and isNla2 != 0">
				AND MAT_TYPE = 'NLA2'
			</when>
			<otherwise>
				AND MAT_TYPE != 'NLA2'
			</otherwise>
		</choose>
	</sql>
	
	<select id="selectRecipeErpMaterialCount" parameterType="map" resultType="int">
		SELECT 
			COUNT(SAP_CODE) 
		FROM
			lab_erp_material3
			<!-- lab_erp_material2 -->
		WHERE 1 = 1 
			<!-- AND (SAP_CODE LIKE '3%' OR SAP_CODE LIKE '4%' OR SAP_CODE LIKE '5%') -->
		<include refid="recipe.whereRecipeErpMaterialList" />
	</select>
	
	<select id="selectRecipeErpMaterialList" parameterType="map" resultType="hashmap">
		SELECT 
			tmp.*
			,CASE
				WHEN MAT_TYPE = 'NLA2' THEN '메장 메뉴'
				ELSE '원,부재료'
				END AS MAT_TYPE_TXT
			, FN_GET_CODE_NAME('KEEP_CONDITION', tmp.KEEP_CONDITION) AS KEEP_CONDITION_TXT  
		FROM (
			SELECT 
				row_number() over (order by  SAP_CODE ASC) as rnum
				, SAP_CODE
				, NAME
				, MAT_TYPE
				, KEEP_CONDITION
				, MAT_GROUP
				, MAT_GROUP_NAME
				, UNIT
				, CHANGE_UNIT
				, CHANGE_COUNT
				, RECIPE_UNIT
				, RECIPE_AMOUNT
				, WIDTH
				, WIDTH_UNIT
				, LENGTH
				, LENGTH_UNIT
				, HEIGHT
				, HEIGHT_UNIT
				, TOTAL_WEIGHT
				, TOTAL_WEIGHT_UNIT
				, STANDARD
				, ORIGIN
				, LEAD_TIME
				, SAFETY_STOCK_DAY
				, BOX_AMOUNT
				, PALLET_AMOUNT
				, CD_ACCT
				, EXPIRATION_DATE
				, USE_YN
				, MIN_ORDER_AMOUNT
			FROM
				lab_erp_material3
			WHERE 1 = 1 
			<!--			
			SELECT 
				row_number() over (order by  SAP_CODE ASC) as rnum
				, SAP_CODE
				, NAME
				, KEEP_CONDITION
				, FN_GET_CODE_NAME('KEEP_CONDITION', KEEP_CONDITION) AS KEEP_CONDITION_TXT 
				, WIDTH
				, WIDTH_UNIT
				, LENGTH
				, LENGTH_UNIT
				, HEIGHT
				, HEIGHT_UNIT
				, TOTAL_WEIGHT
				, TOTAL_WEIGHT_UNIT
				, UNIT
				, CHANGE_COUNT
				, CHANGE_UNIT
				, STANDARD
				, ORIGIN
				, EXPIRATION_DATE
				, BOX_AMOUNT
				, MIN_ORDER_AMOUNT
				, LEAD_TIME
				, PALLET_WIDTH_COUNT
				, PALLET_LENGTH_COUNT
				, CD_ACCT
				, PALLET_AMOUNT				
			FROM
				lab_erp_material2
			WHERE 1 = 1 
			-->
			<!--  	AND (SAP_CODE LIKE '3%' OR SAP_CODE LIKE '4%' OR SAP_CODE LIKE '5%') -->
			<include refid="recipe.whereRecipeErpMaterialList" />
		)tmp WHERE rnum between #{startRow} and #{endRow}	
	</select>
</mapper>
