<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
	<select id="selectUser" parameterType="Map" resultType="hashmap">
	/*	user.selectUser 사용자 정보 조회 */
	SELECT 
		USER_ID      
    FROM 
    	userinfo
	WHERE	1 = 1
    </select>
    
    <insert id="insertTest1" parameterType="map">
    	INSERT INTO
    	lab_test( TEST_IDX, TEST_TEXT )
    	VALUES( #{idx}, #{text} )    	
    </insert>
    
    <insert id="insertTest2" parameterType="map">
    	INSERT INTO
    	lab_test( TEST_IDX, TEST_TEXT )
    	VALUES( #{idx}, #{text} )    	
    </insert>
    
    <select id="selectOrg" resultType="hashmap">
    	SELECT
    		OBJTID
			, OBJTTX
			, TOBJID
			, SEQUEN
			, PRIORT
			, CSTCNT
			, BUKRS
    	FROM
    		V_HR1010
    	WHERE 1 = 1		
    </select>
    
     <select id="selectHrInfo" resultType="hashmap">
    	SELECT
    		EMPNUM
			, SBTYPE
			, IPSAIL
			, RETIRE
			, NAMEKO
			, BIRDAY
			, ORGAID
			, TITLCD
			, LEVLCD
			, RESPCD
			, JOBOID
			, EMAIL
			, MOBILE
			, OFFICE
			, EMPGB1
			, EMPGB2
			, EMSTAT
			, SEXGUB
			, CSTCNT
			, BUKRS
			, WORKCD
    	FROM
    		V_HR2000
    	WHERE 1 = 1		
    </select>
    
    <select id="selectMasterCode" resultType="hashmap">
    	SELECT
    		CDTYPE
			, CDVALU
			, CDTEXT
			, SEQUEN
			, USEDYN
    	FROM	
    		V_HR9001
    	WHERE 1 = 1	
    </select>
    
    <insert id="insertOrg" parameterType="list">
		INSERT INTO lab_interface_hr1010 ( 
			OBJTID
			, OBJTTX
			, TOBJID
			, SEQUEN
			, PRIORT
			, CSTCNT
			, BUKRS
		) VALUES 
	    <foreach collection = "list" item = "item" separator = ","> 
	    (
	    	#{item.OBJTID}
	        , #{item.OBJTTX}
	        , #{item.TOBJID}
	        , #{item.SEQUEN}
	        , #{item.PRIORT}
	        , #{item.CSTCNT}
	        , #{item.BUKRS}	       
	     ) 
	    </foreach> 
	  ON DUPLICATE KEY UPDATE     
	    OBJTTX = VALUES(OBJTTX)
		, TOBJID = VALUES(TOBJID)
		, SEQUEN = VALUES(SEQUEN)
		, PRIORT = VALUES(PRIORT)
		, CSTCNT = VALUES(CSTCNT)
		, BUKRS = VALUES(BUKRS)		
	</insert>
	
	<insert id="insertHrInfo" parameterType="list">
		INSERT INTO lab_interface_hr2000 ( 
			EMPNUM
			, SBTYPE
			, IPSAIL
			, RETIRE
			, NAMEKO
			, BIRDAY
			, ORGAID
			, TITLCD
			, LEVLCD
			, RESPCD
			, JOBOID
			, EMAIL
			, MOBILE
			, OFFICE
			, EMPGB1
			, EMPGB2
			, EMSTAT
			, SEXGUB
			, CSTCNT
			, BUKRS
			, WORKCD
		) VALUES 
	    <foreach collection = "list" item = "item" separator = ","> 
	    (
		#{item.EMPNUM}
		, #{item.SBTYPE}
		, #{item.IPSAIL}
		, #{item.RETIRE}
		, #{item.NAMEKO}
		, #{item.BIRDAY}
		, #{item.ORGAID}
		, #{item.TITLCD}
		, #{item.LEVLCD}
		, #{item.RESPCD}
		, #{item.JOBOID}
		, #{item.EMAIL}
		, #{item.MOBILE}
		, #{item.OFFICE}
		, #{item.EMPGB1}
		, #{item.EMPGB2}
		, #{item.EMSTAT}
		, #{item.SEXGUB}
		, #{item.CSTCNT}
		, #{item.BUKRS}
		, #{item.WORKCD}
	     ) 
	    </foreach> 
	  ON DUPLICATE KEY UPDATE     
		SBTYPE = VALUES(SBTYPE)
		, IPSAIL = VALUES(IPSAIL)
		, RETIRE = VALUES(RETIRE)
		, NAMEKO = VALUES(NAMEKO)
		, BIRDAY = VALUES(BIRDAY)
		, ORGAID = VALUES(ORGAID)
		, TITLCD = VALUES(TITLCD)
		, LEVLCD = VALUES(LEVLCD)
		, RESPCD = VALUES(RESPCD)
		, JOBOID = VALUES(JOBOID)
		, EMAIL = VALUES(EMAIL)
		, MOBILE = VALUES(MOBILE)
		, OFFICE = VALUES(OFFICE)
		, EMPGB1 = VALUES(EMPGB1)
		, EMPGB2 = VALUES(EMPGB2)
		, EMSTAT = VALUES(EMSTAT)
		, SEXGUB = VALUES(SEXGUB)
		, CSTCNT = VALUES(CSTCNT)
		, BUKRS = VALUES(BUKRS)
		, WORKCD = VALUES(WORKCD)
	</insert>
	
	<insert id="insertMasterCode" parameterType="list">
		INSERT INTO lab_interface_hr9001 ( 
			CDTYPE
			, CDVALU
			, CDTEXT
			, SEQUEN
			, USEDYN
		) VALUES 
	    <foreach collection = "list" item = "item" separator = ","> 
	    (
		#{item.CDTYPE}
		, #{item.CDVALU}
		, #{item.CDTEXT}
		, #{item.SEQUEN}
		, #{item.USEDYN}
	     ) 
	    </foreach> 
	  ON DUPLICATE KEY UPDATE     
	    CDTEXT = VALUES(CDTEXT)
		, SEQUEN = VALUES(SEQUEN)
		, USEDYN = VALUES(USEDYN)
	</insert>
	
	<select id="selecUserList" resultType="hashmap">
		SELECT 
			lu.USER_ID AS userId
		    , lu.USER_NAME AS userName
		    , lu.USER_GRAD AS userGrade
		    , getCodeName('GRADE',lu.USER_GRAD) AS userGradeName
		    , lu.REG_DATE AS regDate
		    , lu.USER_CODE AS userCode
		    , lu.EMAIL AS email
		    , lu.DEPT_CODE AS deptCode
		    , getCodeName('DEPT',lu.DEPT_CODE) AS deptCodeName
		    , lu.TEAM_CODE AS teamCode
		    , getCodeName('TEAM',lu.TEAM_CODE) AS teamCodeName	
		    , lu.TITLE_CODE AS titleCode
		    , lu.USER_TYPE AS userType
		    , lu.IS_ADMIN AS isAdmin
		    , lu.IS_DELETE AS isDelete
		    , lu.THEME AS theme
		    , lu.CONTENT_MODE AS contentMode
		    , lu.WIDTH_MODE AS widthMode
		    , lu.MAIL_CHECK1 AS mailCheck1
		    , lu.MAIL_CHECK2 AS mailCheck2
		    , lu.MAIL_CHECK3 AS mailCheck3
		    , lu.IS_LOCK AS isLock
		    , lu.ROLE_CODE AS roleCode
		    , lu.ORGAID
			, (select OBJTTX from lab_interface_hr1010 hr1010 where hr1010.OBJTID = lu.ORGAID ) as OBJTTX 
			, lu.TITLCD
			, (select CDTEXT from lab_interface_hr9001 hr9001 where hr9001.CDVALU = lu.TITLCD and hr9001.CDTYPE = 'TITLCD') as TITL_TXT
			, lu.LEVLCD
			, (select CDTEXT from lab_interface_hr9001 hr9001 where hr9001.CDVALU = lu.LEVLCD and hr9001.CDTYPE = 'LEVLCD') as LEVEL_TXT
			, lu.RESPCD
			, (select CDTEXT from lab_interface_hr9001 hr9001 where hr9001.CDVALU = lu.RESPCD and hr9001.CDTYPE = 'RESPCD') as RESP_TXT
			, (select TOBJID from lab_interface_hr1010 hr1010 where hr1010.OBJTID = lu.ORGAID ) as TOBJID 
			, lu.EMSTAT
	    FROM 
	    	lab_user lu
		WHERE	1 = 1
	</select>
	
	<update id="updateUserPwd" parameterType="map">
		UPDATE lab_user 
		SET 
	      	USER_PWD =  #{encPwd}
			, PWD_INIT =  #{pwdInit}  
		WHERE	1 = 1
			AND USER_ID = #{userId}
	</update>
	
	<insert id="insertHrUser" parameterType="list">
	/* test.insertHrUser */
		INSERT INTO lab_user( 
			USER_ID
			, USER_NAME
			, REG_DATE
			, EMAIL
			, IS_ADMIN
			, IS_DELETE
			, THEME
			, IS_LOCK
			, ROLE_CODE
			, ORGAID
			, TITLCD
			, LEVLCD
			, RESPCD
			, EMSTAT
			, USER_PWD
			, PWD_INIT)
		 VALUES(
	    	#{EMPNUM}
	        , #{NAMEKO}
	        , sysdate()
	        , #{EMAIL}
	        , #{IS_ADMIN}
	        , #{IS_DELETE}
	        , #{THEME}
	        , #{IS_LOCK}
	        , #{ROLE_CODE}
	        , #{ORGAID}
	        , #{TITLCD}
	        , #{LEVLCD}
	        , #{RESPCD}
	        , #{EMSTAT}
	        , #{ENCPWD}
	        , 'Y'
	     ) 

	
	</insert>
</mapper>